.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.bounce1,
.bounce2,
.bounce3 {
  width: 8px;
  height: 8px;
  background-color: var(--color-white-50);
  border-radius: 100%;
  animation: bounce 1.4s infinite ease-in-out both;
}

.bounce1 {
  margin-right: 3px;
  animation-delay: -0.32s;
}

.bounce2 {
  margin-right: 3px;
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  } 40% {
    transform: scale(1.0);
  }
}
