.root {
  width: 350px;
  margin: auto;
  background: radial-gradient(var(--color-blue-light), var(--color-blue-dark));
  box-shadow: 0 15px 15px var(--color-black-5), 0 0 30px var(--color-black-33);
}

.header {
  display: flex;
  align-items: center;
  padding: var(--qs-4x) var(--qs-2x) var(--qs-2x);
}

.headerLeft {
  flex-basis: 25%;
  display: flex;
  justify-content: flex-start;
}

.headerCenter {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.headerRight {
  flex-basis: 25%;
  display: flex;
  justify-content: flex-end;
}

.main {

}
