.root {
  min-width: 82px;
  min-height: 33px;
  padding: var(--qs) var(--qs-2x);
  border: 1px solid var(--color-white-50);
  border-radius: var(--border-radius);
  background-color: var(--color-black-33);
  font-size: var(--font-size-lg);
}
