@import './vendor/alice-carousel.css';

:root {
  --quant-size: 4px;
  --qs: var(--quant-size);
  --qs-2x: calc(var(--quant-size) * 2);
  --qs-3x: calc(var(--quant-size) * 3);
  --qs-4x: calc(var(--quant-size) * 4);
  --qs-5x: calc(var(--quant-size) * 5);
  --qs-6x: calc(var(--quant-size) * 6);
  --qs-7x: calc(var(--quant-size) * 7);
  --qs-8x: calc(var(--quant-size) * 8);
  --qs-9x: calc(var(--quant-size) * 9);
  --qs-10x: calc(var(--quant-size) * 10);

  --color-black: #0f0f11;
  --color-black-5: rgba(15, 15, 17, .05);
  --color-black-20: rgba(15, 15, 17, .2);
  --color-white: #fff;
  --color-white-33: rgba(255, 255, 255, .33);
  --color-white-50: rgba(255, 255, 255, .5);
  --color-blue-light: #1a76ff;
  --color-blue-dark: #0046c0;

  --font-size-s: 13px;
  --font-size-m: 15px;
  --font-size-lg: 20px;
  --font-size-xl: 30px;
  --font-size-xxl: 40px;

  --border-radius: 7px;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: var(--font-size-m);
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
