.root {
  position: relative;
  margin-top: var(--qs-4x);
  background-color: var(--color-black-20);
}

.root::before,
.root::after {
  content: '';
  position: absolute;
  top: calc(var(--qs-4x) * -1);
  display: block;
  width: 50%;
  border-bottom: var(--qs-4x) solid var(--color-black-20);
}

.root::before {
  left: 0;
  border-right: var(--qs-4x) solid transparent;
}

.root::after {
  right: 0;
  border-left: var(--qs-4x) solid transparent;
}

.amount {
  position: absolute;
  top: var(--qs-4x);
  right: var(--qs-9x);
  height: 47px;
  max-width: 300px;
  overflow: visible;
  pointer-events: none;
}

.value {
  display: flex;
  align-items: flex-end;
  min-height: 47px;
  text-align: right;
  white-space: nowrap;
  font-size: var(--font-size-xxl);
  color: var(--color-white);
}

.valueLong {
  font-size: var(--font-size-xl);
}

.value:not(:empty)::before {
  content: '+';
}

.rate {
  margin-top: var(--qs-3x);
  text-align: right;
  font-size: var(--font-size-s);
  color: var(--color-white-50);
}


