.root {
  position: relative;
  background-color: var(--color-black-20);
}

.amount {
  position: absolute;
  top: var(--qs-7x);
  right: var(--qs-9x);
  height: 47px;
  max-width: 300px;
  overflow: visible;
  pointer-events: none;
}

.value {
  display: flex;
  align-items: flex-end;
  min-height: 47px;
  text-align: right;
  white-space: nowrap;
  font-size: var(--font-size-xxl);
  color: var(--color-white);
}

.valueLong {
  font-size: var(--font-size-xl);
}

.value:not(:empty)::before {
  content: '+';
}

.rate {
  margin-top: var(--qs-3x);
  text-align: right;
  font-size: var(--font-size-s);
  color: var(--color-white-50);
}


